:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  border: none;
}

/* inViewport */

[data-inviewport="seeing"] > .is-inViewport {
  transition: 2s;
  transform: translateX(0%);
  transition: transform ease-in-out 0.5s;
}

[data-inviewport="scale-in"] {
  transition: 2s;
  transform: translateX(-140%);
  transition: transform ease-in-out 0.5s;
}
/*
[data-inviewport="scale-in"].is-inViewport {
  transform: translateX(0%);
}
*/
[data-inviewport="scale-out"] {
  transition: 2s;
  transform: translateX(160%);
  transition: transform ease-in-out 0.5s;
}

/* 

[data-inviewport="scale-out"].is-inViewport {
  transform: translateX(0%);
}

*/

@media (max-width: 729px) {
  [data-inviewport="scale-in"] {
    transition: 2s;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.5s;
  }

  [data-inviewport="scale-out"] {
    transition: 2s;
    transform: translateX(100%);
    transition: transform ease-in-out 0.5s;
  }
}
